# Ignore virtual environments
env/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore output folders
output/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
